body,
div,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
button,
label,
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
select,
button,
textarea {
  font-size: 1em;
}

.hidden {
  display: none !important;
}