@layer components {
  .progress {
    @apply relative overflow-hidden;
    height: 8px;
    background-color: var(--c-border);
    border-radius: 999px;
  }

  .progress-bar {
    @apply absolute inset-y-0 left-0;
    border-radius: 999px;
    background-color: var(--c-primary);
    width: calc(var(--ratio) * 100%);
    transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
